<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
  <script defer src="main.js"></script>
</head>

<body>
  <p>
    <%=message%>
  </p>
  <ul id="user-list">

  </ul>

  <div>
    <input id="first-name" type="text">
    <input id="last-name" type="text">
    <button id="add-user">Add User</button>
  </div>
</body>

</html>